.a-area-texto{       
    background: rgba(186, 200, 202, 0.8)
}

.a-numeros{
    padding-left: 0.5rem;
    padding-right: 0;
    float: left;
    background: rgba(54, 86, 92, 0.8);
    color: aliceblue;
}

.a-salida{
    float: right;
}

.a-entrada{
    padding-left: 0;
    padding-right: 0.2rem;
    border-right: 20px;
}

.a-bloque-general{
    display: -ms-inline-flexbox;
    text-align: center;
}